<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig
  xmlns="http://ibatis.apache.org/dataMapper"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">


	<settings>
		<setting cacheModelsEnabled="true"/>
		<setting useStatementNamespaces="false"/>
	</settings>

	<providers resource="providers.config"/>


	<!-- DataBase Connection -->
	<!-- 此database 适用于 Mapper.Instance()，此处用于ShowSql -->
	<!--<database>
		<provider name="sqlServer2005"/>
		<dataSource name="testConn" connectionString="Data Source=30.1.1.57;Initial Catalog=ShortTermIns;User Id=sa;Password=ssac.123;"/>
	</database>-->

	<sqlMaps>
		<sqlMap resource="Maps/Student.xml" />
    <sqlMap resource="Maps/TaskAcquisitionLog.xml" />
    <sqlMap resource="Maps/TaskExecutionCheckLog.xml" />
    <sqlMap resource="Maps/TaskExecutionResultLog.xml" />
    <sqlMap resource="Maps/TaskInfo.xml" />
    <sqlMap resource="Maps/TaskValueLimits.xml" />
    <sqlMap resource="Maps/TaskWarningLog.xml" />
	</sqlMaps>

</sqlMapConfig>