<?xml version="1.0" encoding="utf-8"?>
<daoConfig xmlns="http://ibatis.apache.org/dataAccess" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!--定义提供者-->
	<providers resource="providers.config" />


	<!--定义短期险上下文：包括一个数据源、DAO实现-->
	<context id="ShorttemBillDao" default="true">
		<database>
			<provider name="sqlServer2005"/>
			<dataSource name="ShorttemBillDataSource" connectionString="Data Source=30.1.1.57;Initial Catalog=ShortTermIns;User Id=sa;Password=ssac.123;"/>
		</database>

		<daoSessionHandler id="SqlMap">
			<property name="resource" value="SqlMap.config" />
		</daoSessionHandler>

		<!--定义DAO的实现-->
		<daoFactory>
			<dao interface="IbatisLibrary.Interface.IInsureBill,IbatisLibrary" implementation="IbatisLibrary.DaoAccess.InsureBillDao,IbatisLibrary" />
			<dao interface="IbatisLibrary.Interface.ICreateBillCode,IbatisLibrary" implementation="IbatisLibrary.DaoAccess.CreateBillCodeDao,IbatisLibrary" />
			<dao interface="IbatisLibrary.Interface.IFeeSplitRules,IbatisLibrary" implementation="IbatisLibrary.DaoAccess.FeeSplitRulesDao,IbatisLibrary" />
			<dao interface="IbatisLibrary.Interface.IFeeOvertimeRules,IbatisLibrary" implementation="IbatisLibrary.DaoAccess.FeeOvertimeRulesDao,IbatisLibrary" />
			<dao interface="IbatisLibrary.Interface.IShopInsuranceLibility,IbatisLibrary" implementation="IbatisLibrary.DaoAccess.ShopInsuranceLibilityDao,IbatisLibrary" />
		</daoFactory>

	</context>
	<!--定义官网查询上下文：包括一个数据源、DAO实现-->
	<context id="SsacWebDao" default="false">
		<database>
			<provider name="sqlServer2005"/>
			<dataSource name="SsacWebDataSource" connectionString="Data Source=30.1.1.57;Initial Catalog=pubWebDB;User Id=sa;Password=ssac.123;"/>
		</database>

		<daoSessionHandler id="SqlMap">
			<property name="resource" value="SqlMap.config" />
		</daoSessionHandler>

		<!--定义DAO的实现-->
		<daoFactory>
			<dao interface="IbatisLibrary.Interface.IUserIdentity,IbatisLibrary" implementation="IbatisLibrary.DaoAccess.UserIdentityDao,IbatisLibrary" />
			<dao interface="IbatisLibrary.Interface.ISysUserInfo,IbatisLibrary" implementation="IbatisLibrary.DaoAccess.SysUserInfoDao,IbatisLibrary" />
			<dao interface="IbatisLibrary.Interface.IMallOrder,IbatisLibrary" implementation="IbatisLibrary.DaoAccess.MallOrderDao,IbatisLibrary" />
			<dao interface="IbatisLibrary.Interface.IShortTermBillDao,IbatisLibrary" implementation="IbatisLibrary.DaoAccess.ShortTermBillDao,IbatisLibrary" />
			<dao interface="IbatisLibrary.Interface.IMallLogInfo,IbatisLibrary" implementation="IbatisLibrary.DaoAccess.MallLogInfoDao,IbatisLibrary" />
			<dao interface="IbatisLibrary.Interface.ISignPdf,IbatisLibrary" implementation="IbatisLibrary.DaoAccess.SignPdfDao,IbatisLibrary" />
			<dao interface="IbatisLibrary.Interface.IOther,IbatisLibrary" implementation="IbatisLibrary.DaoAccess.OtherDao,IbatisLibrary" />
			<dao interface="IbatisLibrary.Interface.IMallConment,IbatisLibrary" implementation="IbatisLibrary.DaoAccess.MallConmentDao,IbatisLibrary" />
			<dao interface="IbatisLibrary.Interface.ITenpayInfo,IbatisLibrary" implementation="IbatisLibrary.DaoAccess.TenpayInfoDao,IbatisLibrary" />
			<dao interface="IbatisLibrary.Interface.IBeneficiaryInfo,IbatisLibrary" implementation="IbatisLibrary.DaoAccess.BeneficiaryInfoDao,IbatisLibrary" />
			<dao interface="IbatisLibrary.Interface.ITenpayPayInfo,IbatisLibrary" implementation="IbatisLibrary.DaoAccess.TenpayPayInfoDao,IbatisLibrary" />
			<dao interface="IbatisLibrary.Interface.IReferrerDao,IbatisLibrary" implementation="IbatisLibrary.DaoAccess.ReferrerDao,IbatisLibrary" />
			<dao interface="IbatisLibrary.Interface.IInsurePayCode,IbatisLibrary" implementation="IbatisLibrary.DaoAccess.InsurePayCodeDao,IbatisLibrary" />
      <dao interface="IbatisLibrary.Interface.ILTFront,IbatisLibrary" implementation="IbatisLibrary.DaoAccess.LTFrontDao,IbatisLibrary" />
      <dao interface="IbatisLibrary.Interface.IPromotionBillDetail,IbatisLibrary" implementation="IbatisLibrary.DaoAccess.PromotionBillDetailDao,IbatisLibrary" />
      <dao interface="IbatisLibrary.Interface.IPromotionChannelDaily,IbatisLibrary" implementation="IbatisLibrary.DaoAccess.PromotionChannelDailyDao,IbatisLibrary" />
      <dao interface="IbatisLibrary.Interface.IPromotionPageView,IbatisLibrary" implementation="IbatisLibrary.DaoAccess.PromotionPageViewDao,IbatisLibrary" />
      <dao interface="IbatisLibrary.Interface.IPromotionUniqueView,IbatisLibrary" implementation="IbatisLibrary.DaoAccess.PromotionUniqueViewDao,IbatisLibrary" />
      <dao interface="IbatisLibrary.Interface.IPromotionUrl,IbatisLibrary" implementation="IbatisLibrary.DaoAccess.PromotionUrlDao,IbatisLibrary" />
		</daoFactory>

	</context>

</daoConfig>