<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig
  xmlns="http://ibatis.apache.org/dataMapper"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">


	<settings>
		<setting cacheModelsEnabled="true"/>
		<setting useStatementNamespaces="true"/>
	</settings>

	<providers resource="providers.config"/>


	<!-- DataBase Connection -->
	<!-- 此database 适用于 Mapper.Instance()，此处用于ShowSql -->
	<!--<database>
		<provider name="sqlServer2005"/>
		<dataSource name="testConn" connectionString="Data Source=30.1.1.57;Initial Catalog=ShortTermIns;User Id=sa;Password=ssac.123;"/>
	</database>-->

	<sqlMaps>
		<sqlMap resource="Maps/ShortTermBill.config" />
		<sqlMap resource="Maps/UserIdentity.config" />
		<sqlMap resource="Maps/SysUserInfo.config" />
		<sqlMap resource="Maps/MallOrder.config" />
		<sqlMap resource="Maps/MallLogInfo.config" />
		<sqlMap resource="Maps/CreateBillCode.config" />
		<sqlMap resource="Maps/FeeOvertimeRules.config" />
		<sqlMap resource="Maps/FeeSplitRules.config" />
		<sqlMap resource="Maps/SignPdfInfo.config"/>
		<sqlMap resource="Maps/Other.config"/>
		<sqlMap resource="Maps/MallConment.config"/>
		<sqlMap resource="Maps/TenpayInfo.config"/>
		<sqlMap resource="Maps/BeneficiaryInfo.config"/>
		<sqlMap resource="Maps/TenpayPayInfo.config"/>
		<sqlMap resource="Maps/ShopInsuranceLibility.config" />
		<sqlMap resource="Maps/Referrer.config" />
		<sqlMap resource="Maps/InsurePayCode.config"/>
    <sqlMap resource="Maps/LTFront.config"/>
    <sqlMap resource="Maps/PromotionBillDetail.config"/>
    <sqlMap resource="Maps/PromotionChannelDaily.config"/>
    <sqlMap resource="Maps/PromotionPageView.config"/>
    <sqlMap resource="Maps/PromotionUniqueView.config"/>
    <sqlMap resource="Maps/PromotionUrl.config"/>
	</sqlMaps>

</sqlMapConfig>