<?xml version="1.0" encoding="utf-8"?>
<daoConfig xmlns="http://ibatis.apache.org/dataAccess" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!--定义提供者-->
	<providers resource="providers.config" />


	<!--定义短期险上下文：包括一个数据源、DAO实现-->
	<context id="DefaultDAL" default="true">
		<database>
			<provider name="sqlServer2005"/>
			<dataSource name="StudentManage" connectionString="Data Source=.;Initial Catalog=Practise;Integrated Security=SSPI;"/>
		</database>

		<daoSessionHandler id="SqlMap">
			<property name="resource" value="SqlMap.config" />
		</daoSessionHandler>

		<!--定义DAO的实现-->
		<daoFactory>
			<dao interface="IBatisIDAL.IStudentDao,IBatisIDAL" implementation="IBatisDAL.StudentDao,IBatisDAL" />
      <dao interface="IBatisIDAL.ITaskAcquisitionLogDao,IBatisIDAL" implementation="IBatisDAL.TaskAcquisitionLogDao,IBatisDAL" />
      <dao interface="IBatisIDAL.ITaskExecutionCheckLogDao,IBatisIDAL" implementation="IBatisDAL.TaskExecutionCheckLogDao,IBatisDAL" />
      <dao interface="IBatisIDAL.ITaskExecutionResultLogDao,IBatisIDAL" implementation="IBatisDAL.TaskExecutionResultLogDao,IBatisDAL" />
      <dao interface="IBatisIDAL.ITaskInfoDao,IBatisIDAL" implementation="IBatisDAL.TaskInfoDao,IBatisDAL" />
      <dao interface="IBatisIDAL.ITaskValueLimitsDao,IBatisIDAL" implementation="IBatisDAL.TaskValueLimitsDao,IBatisDAL" />
      <dao interface="IBatisIDAL.ITaskWarningLogDao,IBatisIDAL" implementation="IBatisDAL.TaskWarningLogDao,IBatisDAL" />
		</daoFactory>

	</context>
	

</daoConfig>